body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(34, 34, 34);
  color: rgb(229, 229, 229);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 5rem;
}

.pic {
  border-radius: 1rem;
}

.centerMovie {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50rem;
  height: auto;
  background-color: rgb(44, 43, 43);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.moveandtitle {
  width: 100%;
  height: auto;
}

.spotlightPoster {
  height: 25rem;
  border-radius: 0.3rem;
}

.description {
  width: 20rem;
  height: 30rem;
  font-size: 20px;
  margin: 15rem 0 0 5rem;
}

.moreLikeThis {
  display: flex;
  align-items: center;
  overflow-x: auto;
  width: 75%;
  height: 30rem;
  gap: 20px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.movie {
  cursor: pointer;
  transition: transform 0.2s;
  height: 20rem;
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie:hover {
  transform: scale(1.1);
  border-radius: 0.5rem;
}

.posta {
  height: 15rem;
  width: 10rem;
  border-radius: 0.5rem;
}

.posta:hover {
  box-shadow: 0 0 10px white;
}

.title {
  text-shadow: 0 0 0.5rem rgb(108, 108, 108);
}
