body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(34, 34, 34);
  color: rgb(229, 229, 229);
}

.titleName {
  position: absolute;
  bottom: 20rem;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 5rem;
}

.pic {
  border-radius: 1rem;
}

.centerMovie {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50rem;
  height: auto;
  background-color: rgb(44, 43, 43);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.moveandtitle {
  width: 100%;
  height: auto;
}

.spotlightPoster {
  height: 25rem;
  border-radius: 0.3rem;
}

.description {
  width: 20rem;
  height: 30rem;
  font-size: 20px;
  margin: 15rem 0 0 5rem;
}

.moreLikeThis {
  display: flex;
  align-items: center;
  overflow-x: auto;
  width: 75%;
  height: 30rem;
  gap: 20px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.arrow {
  position: absolute;
  left: 85%;
  bottom: 38%;
  rotate: -90deg;
  font-size: 40px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.899);
  text-shadow: 0 0 10px rgb(44, 44, 44);
}

.movie {
  cursor: pointer;
  transition: transform 0.2s;
  height: 20rem;
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie:hover {
  transform: scale(1.1);
  border-radius: 0.5rem;
}

.posta {
  height: 15rem;
  width: 10rem;
  border-radius: 0.5rem;
}

.posta:hover {
  box-shadow: 0 0 10px white;
}

.title {
  text-shadow: 0 0 0.5rem rgb(108, 108, 108);
}

.neato {
  margin-bottom: 3rem;
  width: 30rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --glow-color: rgb(255, 237, 177);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.glowing-btn {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 1em;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 8s linear infinite;
}

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 4s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2.5s linear infinite;
}

.faulty-letter-two {
  opacity: 0.5;
  animation: faulty-flicker 0.5s linear infinite;
}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 500ms linear;
}

.glowing-btn:hover {
  color: rgba(55, 55, 55, 0.8);
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .glowing-btn {
    font-size: 1em;
  }
}
